[Desktop Entry]
Name=PySide6-Template
Icon=org.github.trin94.pyside6.template.svg
Exec=run-my-app
Terminal=false
Type=Application
Categories=Utility
StartupNotify=true
