name: 'Test'

on:
  push:
    branches: [ '**' ]

jobs:
  test-python:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # in this example, there is a newer version already installed, 3.7.7, so the older version will be downloaded
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
    name: 'Python'
    steps:
      - uses: actions/checkout@v2
      - name: 'Install Python'
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: 'Install pip'
        run: |
          python -m pip install --upgrade pip
      - name: 'Update Packages'
        run: |
          sudo apt update -y && sudo apt upgrade -y
      - name: 'Install Dependencies'
        run: |
          sudo apt install -y make patchelf libopengl0 libegl-dev
      - name: 'Create Virtual Environment'
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install wheel
          python -m pip install -r requirements.txt
      - name: 'Run Python Tests'
        run: |
          source venv/bin/activate
          make test-python
  test-qml:
    runs-on: ubuntu-22.04
    name: 'Qml'
    steps:
      - uses: actions/checkout@v2
      - name: 'Install Qt 6.3.0'
        uses: jurplel/install-qt-action@v2
        with:
          version: '6.3.0'
      - name: 'Run Qml Tests'
        run: |
          export QT_QPA_PLATFORM=offscreen
          make test-qml
