name: 'Build'

on:
  push:
    branches: [ '**' ]

jobs:
  test-python:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: [ '3.8', '3.9', '3.10', '3.11' ]
    name: 'Python'
    steps:
      - uses: actions/checkout@v3
      - name: 'Install Python'
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: 'Install pip'
        run: |
          python -m pip install --upgrade pip
      - name: 'Update Packages'
        run: |
          sudo apt update -y && sudo apt upgrade -y
      - name: 'Install Dependencies'
        run: |
          sudo apt install -y make patchelf libopengl0 libegl-dev
      - name: 'Create Virtual Environment'
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install -r requirements.txt
      - name: 'Remove Qml Test Files'
        run: |
          find . -type f -name 'tst_*.qml' -delete
      - name: 'Run Python Tests'
        run: |
          source venv/bin/activate
          make test-python
          make clean
          make build
      - name: 'Upload Build Artifact'
        uses: actions/upload-artifact@v3
        if: matrix.python-version == '3.11' # github.ref_name == 'main' &&
        with:
          path: build/release
          name: release-build-artifact

  test-qml:
    runs-on: ubuntu-22.04
    name: 'Qml'
    steps:
      - uses: actions/checkout@v2
      - name: 'Install Qt 6.4.2'
        uses: jurplel/install-qt-action@v2
        with:
          version: '6.4.2'
      - name: 'Run Qml Tests'
        run: |
          export QT_QPA_PLATFORM=offscreen
          make test-qml
